


ul {
list-style-type: none;
padding: 0;
}
li {
display: inline-block;
margin: 0 1px;
}

.main{
    width: 80%;
}

.list_bar{
    width: 10px;
    background-color: aqua;
    display: inline-block;


}

.algorithm_container{
    max-width: 80%;
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}

.buttons{
    margin: 20px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: lightgray;
    color: black;
    padding: 10px;
}

.buttons:hover {
    background-color: rgba(221, 214, 215, 0.062);
    color: white; 
    border: 1px solid white;
  }


.header{
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    margin-top: 0;
}

.header-title{
    margin-right: 20px;
    margin-left: 20px;
    }


.algorithm_information{
    margin-top: 100px;
}